<mat-expansion-panel [hideToggle]="true">
  <mat-expansion-panel-header>
    <h3>Stages</h3>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <ul class="list-inline">
      <li class="list-inline-item" *ngFor="let x of stages; let idx = index">
        <button mat-raised-button (click)="openEditStageDialog(x, idx)">{{x}}</button>
      </li>
      <li class="list-inline-item">
        <button mat-raised-button color="primary" (click)="openAddStageDialog()">+</button>
      </li>
    </ul>
  </ng-template>
</mat-expansion-panel>