<div class="text-center">
  <form class="form-signin" (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label class="sr-only">Email address</label>
    <input type="email" class="form-control" placeholder="Email address" formControlName="username">
    <label class="sr-only">Password</label>
    <input type="password" class="form-control" formControlName="password">
    <div class="checkbox">
      <label>Remember me<input type="checkbox" formControlName="remember"></label>
    </div>
    <label>Dont have an account, click: <a routerLink="/register">register</a></label>
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</div>

