<div class="container">
  <app-admin-navbar></app-admin-navbar>
  <ng-template [ngIf]="theater" [ngIfElse]="loading">
    <h1>{{theater.Name}}
      <small class="text-muted"> {{theater.Address}}</small>
    </h1>
    <blockquote class="blockquote">{{theater.Description}}</blockquote>
    <h5>Open from {{theater.WorkStart | minsFormatter }} until {{(theater.WorkStart + theater.WorkDuration) | minsFormatter}}</h5>
    <button mat-raised-button color="primary" (click)="openEditTheaterDialog()">Edit</button>
    <div class="spread-em">
      <app-schedule></app-schedule>
      <app-play-list></app-play-list>
      <app-stage-list></app-stage-list>
    </div>    
  </ng-template>
  <ng-template #loading>
    <mat-grid-list cols="1" rowHeight="400px">
      <mat-grid-tile>
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>
</div>