<h2>User submited items</h2>
<button routerLink="new" class="btn btn-primary">Sell item</button>

<div class="card-columns">
  <div *ngFor="let item of (userItems | async)" class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="item.ImageUrl" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ item.Name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ item.HighestBid ? 'Highest bid ' + item.HighestBid + ' $' : 'No bids' }}
        </h6>
        <p class="card-text">{{ item.Description }}</p>
        <button [routerLink]="[item.UserItemId]" class="btn btn-primary">More</button>
      </div>
  </div>
</div>


