<div class="container">
  <div class="card-columns">
    <div *ngFor="let item of userItems; let i = index;" class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="item.ImageUrl" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ item.Name }}</h5>
          <p class="card-text">{{ item.Description }}</p>
        </div>
        <div class="card-body">
          <button class="btn btn-success btn-sm" (click)="onApprove(item.UserItemId, i)">Approve</button>
          <button class="btn btn-danger btn-sm" (click)="onDecline(item.UserItemId, i)">Decline</button>
        </div>
    </div>
  </div>
</div>