<h1 mat-dialog-title>{{mapTitle}}</h1>
<div mat-dialog-content>
  <agm-map style="width: 400px; height: 400px"
  [latitude]="mapLatitude"
  [longitude]="mapLongitude"
  [scrollwheel]="true"
  [zoom]="zoom"
  [fullscreenControl]="true"
  [mapTypeControl]="true"
  [clickableIcons]="true">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>
<div mat-dialog-actions>
    <span style="flex: 1 1 auto;"></span>
  <button mat-button (click)="dialogRef.close()">Close</button>
</div>