<div class="row">
  <div class="col-4" *ngFor="let item of (items | async)" >
      <div class="card mb-4">
          <img class="card-img-top" [src]="item.ImageUrl" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ item.Name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.Price }} $</h6>
            <p class="card-text">{{ item.Description }}</p>
            <button class="btn btn-sm btn-primary" 
              (click)="onAddToCart(item)"
              [disabled]="shoppingCartService.isInCart(item.ItemId)"
              >Add to cart</button>
          </div>
      </div>
  </div>
</div>
