<div class="tt-flx-wrpr">
  <div class="tt-flx-l">
    <ul class="tt-dates">
      <li class="tt-date" *ngFor="let dataset of datasets">
        <div class="tt-flx-wrpr">
          <div class="tt-flx-l">
            <div>{{dataset.startDate | date: 'fullDate'}}</div>
          </div>
          <div class="tt-flx-r">
            <ul class="tt-stages">
              <li class="tt-stage" *ngFor="let groupData of dataset.groupedData">
                <div>{{groupData.name}}</div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="tt-flx-r tt-svg-area">
    <svg:svg class="tt-svg-axis" width='100%' height='32px'>
      <svg:svg preserveAspectRatio="none" [attr.viewBox]="'0 0 '+rangeDuration+' 32'">
        <svg:rect fill='#333' y='31' width='100%' height='1'></svg:rect>
        <svg:rect [attr.x]="markerLineX(0, 4)" y='18' width='2' height='14' fill='#333'></svg:rect>
        <svg:rect [attr.x]="markerLineX(1, 4)" y='18' width='2' height='14' fill='#333'></svg:rect>
        <svg:rect [attr.x]="markerLineX(2, 4)" y='18' width='2' height='14' fill='#333'></svg:rect>
        <svg:rect [attr.x]="markerLineX(3, 4)" y='18' width='2' height='14' fill='#333'></svg:rect>
        <svg:rect [attr.x]="markerLineX(4, 4)" y='18' width='2' height='14' fill='#333'></svg:rect>
      </svg:svg>
      <svg:g text-anchor='middle'>
        <svg:text text-anchor='start' fill='#333' x='0' y='16'>{{range(0, 4)}}</svg:text>
        <svg:text fill='#333' x='25%' y='16'>{{range(1, 4)}}</svg:text>
        <svg:text fill='#333' x='50%' y='16'>{{range(2, 4)}}</svg:text>
        <svg:text fill='#333' x='75%' y='16'>{{range(3, 4)}}</svg:text>
        <svg:text text-anchor='end' fill='#333' x='100%' y='16'>{{range(4, 4)}}</svg:text>
      </svg:g>
    </svg:svg>
    <ng-container *ngFor="let dataset of datasets">
      <ng-container *ngFor="let groupData of dataset.groupedData">
        <ng-container *ngFor="let data of groupData.data">
          <svg:svg [ngClass]="evenGroup(dataset, groupData) ? { 'tt-svg-bar': true } : { 'tt-svg-bar-2': true }" width='100%' height='40px'>
            <svg:svg preserveAspectRatio="none"  [attr.viewBox]="'0 0 '+rangeDuration+' 32'">
              <svg:rect matTooltip="{{data.name}}" matTooltipPosition="above" fill='#82cf74' [attr.x]="data.startMins" [attr.width]="data.durationMins" height='32'></svg:rect>
            </svg:svg>
          </svg:svg>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>