<div class="tt-flx-wrpr">
  <div class="tt-flx-l">
    <ul class="tt-dates">
      <li class="tt-date" *ngFor="let dataset of datasets">
        <div class="tt-flx-wrpr">
          <div class="tt-flx-l">
            <div>{{dataset.startDate | date: 'fullDate'}}</div>
          </div>
          <div class="tt-flx-r">
            <ul class="tt-stages">
              <li class="tt-stage" *ngFor="let groupData of dataset.groupedData">
                <div>{{groupData.name}}</div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="tt-flx-r tt-svg-area">
    <svg:svg class="tt-svg-axis" width='100%' height='32px'>
      <svg:svg preserveAspectRatio="none" viewBox='0 0 1440 32'>
        <svg:rect fill='#333' y='31' width='100%' height='1'></svg:rect>
        <svg:rect x='0' y='18' width='2' height='14' fill='#333'></svg:rect>
        <svg:rect x='360' y='18' width='2' height='14' fill='#333'></svg:rect>
        <svg:rect x='720' y='18' width='2' height='14' fill='#333'></svg:rect>
        <svg:rect x='1080' y='18' width='2' height='14' fill='#333'></svg:rect>
        <svg:rect x='1438' y='18' width='2' height='14' fill='#333'></svg:rect>
      </svg:svg>
      <svg:g text-anchor='middle'>
        <svg:text text-anchor='start' fill='#333' x='0' y='16'>00:00</svg:text>
        <svg:text fill='#333' x='25%' y='16'>06:00</svg:text>
        <svg:text fill='#333' x='50%' y='16'>12:00</svg:text>
        <svg:text fill='#333' x='75%' y='16'>18:00</svg:text>
        <svg:text text-anchor='end' fill='#333' x='100%' y='16'>23:59</svg:text>
      </svg:g>
    </svg:svg>
    <ng-container *ngFor="let dataset of datasets">
      <ng-container *ngFor="let groupData of dataset.groupedData">
        <ng-container *ngFor="let data of groupData.data">
          <svg:svg class="tt-svg-bar" width='100%' height='32px'>
            <svg:svg preserveAspectRatio="none" viewBox='0 0 1440 32'>
              <svg:rect matTooltip="{{data.name}}" matTooltipPosition="above" fill='#9c7' [attr.x]="data.startMins" [attr.width]="data.durationMins" height='32'></svg:rect>
            </svg:svg>
          </svg:svg>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>