.tt-bar-anim {
    animation: popup 0.8s;
}

@keyframes popup {
    0%{
      transform: scale(0, 1);
    }
    100%{
      transform: scale(1, 1);
    }
  }

.tt-flx-wrpr {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
  }
  
  ul.tt-dates
  {
    padding: 0;    
    margin: 0;
    margin-top: 40px;  /* 32 + 8 */
  }
  
li.tt-date {
    list-style: none;
}

  li.tt-stage {
    list-style: none;
    height: 32px;
    text-align: -webkit-right;
    text-align: -moz-right;
    text-align: -o-right;  
    margin-bottom: 8px;    
  }
  
li.tt-stage > div, .tt-date > .tt-flx-wrpr > .tt-flx-l > div {
    height:32px;
    display:table-cell;
    vertical-align : middle;    
}
  
.tt-flx-r.tt-svg-area {
    margin-left: 8px;
    min-width: 350px;
}

.tt-svg-axis {
    margin-bottom: 4px;
    display: block;
}

.tt-svg-bar, .tt-svg-bar-2 {
    padding-bottom: 4px;
    padding-top: 4px;
    display: block;
}

.tt-svg-bar-2 {
    background-color: #eaeaea;
}

.tt-flx-wrpr > .tt-flx-r
{
    flex: 1; 
}

.tt-svg-time-marker {
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;     
}

.tt-svg-time-marker, .tt-svg-text-color {
    fill: #333;    
}

.tt-bar-default {
    fill: #82cf74;
}

.tt-bar-primary {
    fill: #7482cf;
}

.tt-bar-secondary {
    fill: #c174cf;
}