<div class="container">
    <h3>Submit item for review</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" formControlName="Name">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="3" formControlName="Description"></textarea>
        </div>
        <div class="form-group">
            <label>Expiration date</label>
            <input class="form-control" type="Date" formControlName="ExpirationDate">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input class="form-control" type="file" (change)="onFileChanged($event)">
        </div>
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Create</button>
    </form>
</div>
