<div style="width:70%; padding: 0 0 0 30%"  >
  <form class="form-signin" [formGroup]="form" (ngSubmit)="onRegister()">
    <img style="width:100%;" class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 style="width:100%; align-content:center;" class="h3 mb-3 font-weight-normal">Don't have an accout? Register</h1>  
    <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
      <input type="text" name="first_name" id="name" formControlName = "name" class="form-control input-sm floatlabel" placeholder="First Name">
              </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                  <input type="text" name="last_name" id="surname" formControlName = "surname" class="form-control input-sm" placeholder="Last Name">
              </div>
          </div>
      </div>

      <div class="form-group">
          <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" formControlName = "email">
      </div>

      <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                  <input type="password" name="password" id="pwd" formControlName = "password" class="form-control input-sm" placeholder="Password">
              </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                  <input type="password" name="password_confirmation" id="cpwd" formControlName = "confirmPassword" class="form-control input-sm" placeholder="Confirm Password">
              </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                      <input type="text" name="city" id="city" formControlName = "city" class="form-control input-sm" placeholder="City">
                  </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                      <input type="text" name="phoneNumber" id="pn" formControlName = "phoneNumber" class="form-control input-sm" placeholder="Phone Number">
                  </div>
          </div>
      </div>
  <!--     
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Remember me
      </label>
    </div> -->
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Register</button>
  </form>
</div>
<div *ngIf="fail">
  <p>Neuspesno</p>
</div>