<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
                    <h2>{{User?.Name}} {{User?.Surname}}</h2>
                    <p><strong>Email: </strong> {{User?.Email}} </p>
                    <p><strong>City: </strong> {{User?.City}}</p>
                    <p><strong>PhoneNumber: </strong>{{User?.PhoneNumber}}</p>
        </div>
      </div>                 
  </div>
</div>
<button (click)="onShowFriends()" class="btn btn-lg btn-primary btn-block" style="width:200px">{{message}}</button>
<div *ngIf="show" class="container" >
	<div class="row" *ngFor = "let friend of friends" >
    	 <div class="well profile">
                    <h2>{{friend?.Name}} {{friend?.Surname}}</h2>
                    <p><strong>Email: </strong> {{friend?.Email}} </p>
                    <p><strong>City: </strong> {{friend?.City}}</p>
                    <p><strong>PhoneNumber: </strong>{{friend?.PhoneNumber}}</p>
        </div>             
  </div>
</div>