<div style="width:100%; min-height:500px">
  <div class="container" style="width:30%; float:left">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <div class="well profile">
                      <h2>{{User?.Name}} {{User?.Surname}}</h2>
                      <p><strong>Email: </strong> {{User?.Email}} </p>
                      <p><strong>City: </strong> {{User?.City}}</p>
                      <p><strong>PhoneNumber: </strong>{{User?.PhoneNumber}}</p>
                      <button class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal1" >Change User Password</button>
                      <button class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal2" >Change User Details</button>
          </div>
          <div *ngIf="detailchange">
            <input type="text" id="changeName" placeholder="Change Name"/>
            <input type="text" id="changeSurname" placeholder="Change Surname"/>
            <input type="text" id="changeCity" placeholder="Change City"/>
            <input type="text" id="changePhoneNumber" placeholder="Change PhoneNumber"/>
            <button (click)="changeUserDetails()" >Change</button>
          </div>
        </div>                 
    </div>
    <!-- CHANGE PASSWORD -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="form" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="form">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel1">Change Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="form" (ngSubmit)="changePassword()" action="/login">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                          <input type="password" name="OldPassword" id="OldPassword" formControlName = "OldPassword" class="form-control input-sm" placeholder="OldPassword">
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                          <input type="password" name="NewPassword" id="NewPassword" formControlName = "NewPassword" class="form-control input-sm" placeholder="Password">
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                          <input type="password" name="ConfirmPassword" id="ConfirmPassword" formControlName = "ConfirmPassword" class="form-control input-sm" placeholder="Confirm Password">
                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary"  >Confirm</button>
              </form>
            </div>
            <div class="modal-footer" data-dismiss="modal">
              
            </div>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    
      <!-- CHANGE DETAILS -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="form" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="form">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Change Your Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
              </div>
              <div style="width: 100%; float:left">
                  <div class="form-group"style="align-content: center">
                    <input type="text" id="changeName" placeholder="Change Name"/>
                  </div>
                  <div class="form-group"style="align-content: center">
                    <input type="text" id="changeSurname" placeholder="Change Surname"/>
                  </div>
                  <div class="form-group"style="align-content: center">
                    <input type="text" id="changeCity" placeholder="Change City"/>
                  </div>
                  <div class="form-group"style="align-content: center">
                    <input type="text" id="changePhoneNumber" placeholder="Change PhoneNumber"/>
                  </div>
                  <button (click)="changeUserDetails()" class="btn btn-primary" style="align-self: center;" >Change</button>
              </div>
            </div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>


    <button (click)="onShowFriends()" class="btn btn-lg btn-primary btn-block" style="width:200px">{{message}}</button>
    <div *ngIf="show" class="container"  >
      <div class="row" *ngFor = "let friend of friends" >
          <div class="well profile">
                        <h2>{{friend?.Name}} {{friend?.Surname}}</h2>
                        <p><strong>Email: </strong> {{friend?.Email}} </p>
                        <p><strong>City: </strong> {{friend?.City}}</p>
                        <p><strong>PhoneNumber: </strong>{{friend?.PhoneNumber}}</p>
                        <button class="btn btn-danger"data-toggle="modal" data-target="#exampleModal" >Remove Friend</button>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to remove friend
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" (click)="onRemoveFriend(friend)" data-dismiss="modal" >Confirm</button>
                    </div>
                  </div>
                </div>
              </div>             
      </div>
    </div>
  </div>
  <div class="container" style="width:30%; float:left">
      <div>
        <label>Search people: </label>
        <input type="text" placeholder="Search" id="name" />
        <button (click)="onSearch()">Search</button>
      </div>
      <div *ngIf="showResults">
        <div *ngFor="let result of searchResults" class="container">
            <div class="well profile">
                <h2>{{result.Name}} {{result.Surname}}</h2>
                <p><strong>Email: </strong> {{result.Email}} </p>
                <p><strong>City: </strong> {{result.City}}</p>
                <p><strong>PhoneNumber: </strong>{{result.PhoneNumber}}</p>
                <button (click)="onAddFriend(result)">Add Friend</button>
            </div>
        </div>
      </div>
    </div>
  <div  style="width:30%; float:right">
    <h2>Your friend requests: </h2>
    <div *ngFor="let request of friendRequests">
      <p><strong>Email: </strong> {{request.Email}}</p>
      <button (click)="onConfirmRequest(request)" class="btn btn-success">Confirm</button>
      <button (click)="onDenyRequest(request)" class="btn btn-danger">Decline</button>
    </div>
  </div>
</div>
<div style="width:100%; float:left" >
    <button (click)="onShowReservations()" class="btn btn-lg btn-primary btn-block" style="width:200px">{{message2}}</button>
  <div *ngIf="show2">
    <h2><strong>Reservations: </strong></h2>
    <div *ngFor="let reservation of myReservations">
      <p><strong>Reservation </strong></p>
      <p><strong>Theater: </strong>{{reservation.TheaterId}}</p>
      <p><strong>Stage: </strong>{{reservation.StageId}}</p>
      <p><strong>Seats: </strong>Row: {{reservation.SeatRow}} Column: {{reservation.SeatColumn}}</p>
      <p><strong>Play/Movie: </strong>{{reservation.PlayId}}</p>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
