<h1 mat-dialog-title>New Stage</h1>
<div mat-dialog-content>
  <div class="example-container">
    <mat-form-field>
      <input placeholder="Name" matInput [(ngModel)]="name" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Rows" matInput [(ngModel)]="rows">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Columns" matInput [(ngModel)]="columns">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button [mat-dialog-close]="name" color="primary">Create</button>
</div>