<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">FanZone</h1>
    <p class="lead">FanZone area where you can buy official theater requisites and buy/sell items.</p>
    <hr class="my-4">
    <p class="lead">
        <a routerLink="../fanzone" class="btn btn-primary">Official items</a>
        <a routerLink="new" class="btn btn-primary">Add new item</a>
        <a routerLink="awaiting" class="btn btn-primary">Awaiting approval</a>
        <a routerLink="useritems" class="btn btn-primary">Check user added items</a>
    </p>
  </div>


  
  <router-outlet></router-outlet>
</div>