<div class="container">
  <form [formGroup]="form" (ngSubmit)="onChangePassword()">
      <div class="form-group">
          <label for="current">Current password</label>
          <input type="password" class="form-control" id="current" formControlName="OldPassword">
        </div>
        <div class="form-group">
          <label for="new">New password</label>
          <input type="password" class="form-control" id="new" formControlName="NewPassword">
        </div>
        <div class="form-group">
          <label for="confirm">Confirm password</label>
          <input type="password" class="form-control" id="confirm" formControlName="ConfirmPassword">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
  </form>
</div>
