<div class="container">
    <ng-template [ngIf]="plays" [ngIfElse]="loading">
        <app-template-navbar [navLinkBase]="navLinkBase" [navLinks]="navLinks"></app-template-navbar>
        <div class="text-center">
            <h1>
                {{ theater.Name }}
            </h1>
        </div>
        <div style="display: flex; align-items: stretch;">
            <mat-form-field>
              <input placeholder="Search" matInput [(ngModel)]="playNameFilter"/>
            </mat-form-field>
            <span style="flex: 1 1 auto;"></span>
          </div>
          <ng-template [ngIf]="plays" [ngIfElse]="loadingPlays">
            <mat-list>
              <mat-list-item *ngFor="let play of plays | nameFilter: playNameFilter">{{ play.Name }}</mat-list-item>
            </mat-list>
          </ng-template>
          <ng-template #loadingPlays>
            <div style="margin-top: 20px;">
                <mat-progress-bar mode="query"></mat-progress-bar>
            </div>      
          </ng-template>
    </ng-template>
    <ng-template #loading>

    </ng-template>
</div>